version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: custom-php-app
    container_name: php_backend
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    # Синхронізація кореневої директорії забезпечує узгодженість шляхів
    volumes:
      - ./:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    restart: unless-stopped
    tty: true
    ports:
      - "8080:80"
    # Nginx також монтує код, щоб мати доступ до публічної статики
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network
    depends_on:
      - app

networks:
  app-network:
    driver: bridge